body {
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* New Page */
.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Edit Page */
.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */
.show-img {
    height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}

/* Navbar */
.navbar {
    height: 6rem;
    background-color: white;
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}

.f-info-links,
.f-info-socials,
.f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 0.5rem;
}

.f-info-links a:hover {
    text-decoration: underline;
}

.f-info {
    height: 5rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

/* Cards */
.listing-card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link {
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* Map */
#map {
    height: 400px;
    width: 80vh;
}

.show-img {
    height: 350px;
    object-fit: cover;
    border-radius: 15px;
    width: 100%;
}

@media (max-width: 768px) {
    .show-img {
        height: 40vh;
    }

    .show-card {
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
    }

    .btns {
        flex-direction: column;
        gap: 0.5rem;
    }

    #map {
        width: 100% !important;
        height: 300px;
    }
}

@media (max-width: 576px) {
    .show-img {
        height: 35vh;
    }

    .card-body {
        padding: 1rem !important;
    }

    #map {
        width: 100% !important;
        height: 250px;
    }
}

@media (min-width: 768px) {
    .show-card {
        max-width: 800px;
        margin: auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .btns {
        flex-direction: row;
        gap: 1rem;
        justify-content: start;
    }

    #map {
        width: 100%;
    }
}